nav {
  height: 50px;
  background-color: lightgrey;
}

/* target the class of inline-block below */
.inline-block {
  display: inline-block;
  padding: 15px;
  background-color: aqua;
}
/* target the class of .left below */
.left {
  height: 500px;
  float: left;
  background-color: lightblue;
  width: 30%;
}
/* target the class of .right below */
.right {
  height: 500px;
  float: right;
  background-color: lightgreen;
  width: 70%;
}

.card {
  background-color: yellow;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
}